@charset “utf-8”
*{
	margin:0px;
	padding:0px;
}
@font-face {
    font-family: 'franklin_gothic_fsbook_italic';
    src: url('../fonts/franklingothic-bookit-webfont.woff2') format('woff2'),
         url('../fonts/franklingothic-bookit-webfont.woff') format('woff'),
         url('../fonts/franklingothic-bookit.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
h2{
	color: #005883;
	font-size: 16px;
}
h3{
	font-size: 12px;
}
body{
	background: #CEE3F6;
	font-family: 'franklin_gothic_fsbook_italic',sans-serif;
}
div{
	width:960px;
	margin:15px auto;
	text-align:left;
}
header{
	background:#ffffff;
	border: 1px solid #999999;
	padding: 1px;
	text-align: center;
}
nav{
	background: #005883;
	padding: 1px 10px;
	text-align: left;
	font-size: 16px;
}
nav li{
	display: inline-block;
	list-style: none;
	padding: 5px;
}
nav li a{
	color: #ffffff;
}
section{
	float:left;
	width:65%;
	min-height: 300px;
	margin:20px;
	text-align: justify;
}
article{
	background:#ffffff;
	border: 1px solid #005883;
	padding: 5px;
	margin-bottom: 20px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: #005883 4px 4px;
	-webkit-box-shadow: #005883 4px 4px;
	box-shadow: #005883 4px 4px;
	font-size:15px;
}
aside{
	float:left;
	border: 1px solid #005883;
	width:25%;
	min-height: 300px;
	margin:20px 0px;
	padding:20px;
	background:#ffffff;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: #005883 4px 4px;
	-webkit-box-shadow: #005883 4px 4px;
	box-shadow: #005883 4px 4px;
	font-size:15px;
}
footer{
	clear:both;
	text-align:center;
	padding:5px;
	border-top: 1px solid #005883;
}