@charset “utf-8”
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
@font-face {
    font-family: 'franklin_gothic_fsbook_italic';
    src: url('../fonts/franklingothic-bookit-webfont.woff2') format('woff2'),
         url('../fonts/franklingothic-bookit-webfont.woff') format('woff'),
         url('../fonts/franklingothic-bookit.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
h1{
	color: #005883;
	font-size: 24px;
}
h2{
	color: #005883;
	font-size: 16px;
}
h3{
	font-size: 12px;
}
body{
	font-family: 'franklin_gothic_fsbook_italic',sans-serif;
	background: url(../img/fondo.jpg)no-repeat fixed center center;
	background-size: cover;
}
#div{
	width:960px;
	margin:15px auto;
	text-align:left;
	background: #FFF;
	border-radius: 20px;
}
header{
	background:#fff;
	/*border: 1px solid #999999;*/
	padding: 1px;
	text-align: center;
	border-radius: 20px;
}
header table{
	border:0px;
}
nav{
	padding: 1px;
	text-align: left;
	font-size: 16px;
	background:#005883;
}
nav table{
	height: 40px;
}
nav ul{
	list-style: none;
}
.nav li a{
	background-color: #005883;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}
.nav li a:hover {
	background-color: #F47920;
	font-weight: bolder;
	color: #000;
}
.nav > li {
	float: left;
}
.nav li ul {
	display: none;
	position: absolute;
}
.nav li:hover > ul{
	display: block;
}
.nav li ul li{
	position: relative;
}
.nav li ul li ul{
	right: -140px;
	top: 0px;
}
section{
	float:left;
	width:70%;
	min-height: 300px;
	margin:20px;
	text-align: justify;
}
article{
	border: 1px solid #005883;
	padding: 5px;
	margin-bottom: 20px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: #005883 4px 4px;
	-webkit-box-shadow: #005883 4px 4px;
	box-shadow: #005883 4px 4px;
	font-size:15px;
}
aside{
	float:left;
	border: 1px solid #005883;
	width:20%;
	margin:20px 0px;
	padding:20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: #005883 4px 4px;
	-webkit-box-shadow: #005883 4px 4px;
	box-shadow: #005883 4px 4px;
	font-size:15px;
}
footer{
	clear:both;
	text-align:center;
	padding:5px;
	border-top: 1px solid #005883;
}
#video, #actividad{
	text-align: center;
}